<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary" class="mat-elevation-z5" style="z-index: 2">
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        TDM-Console
    </mat-toolbar>

    <mat-sidenav-container fxFlex>
        <mat-sidenav mode="side" align="start" class="mat-elevation-z6" opened #sidenav fxLayout="column" fxLayoutAlign="start stretch">
            <div style="height: 8px;"></div>
            <button (click)="openDashboard()" mat-button class="nav-button">Dashboard
                <span flex></span>
            </button>
            <button (click)="openCreateRecipe()" mat-button class="nav-button">Neues Getränk anlegen
                <span flex></span>
            </button>
            <button (click)="openRecipes()" mat-button class="nav-button">Getränke verwalten
                <span flex></span>
            </button>
        </mat-sidenav>
        <div class="main-container" fxLayout="column">
            <div class="component-viewer">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</section>