body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.nav-button {
    text-align: left;
    height: 50px;
}

.app {
    height: 100vh;
}

.mat-sidenav {
    width: 250px;
}

/* :host ::ng-deep .mat-card {
    padding: 0px;
    background-color: #fff;
}
 */

:host ::ng-deep a {
    color: #337ab7;
    text-decoration: none;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0px;
}
    
:host ::ng-deep .mat-card-header {
    /* margin-top: 124px;
    margin-left: -24px;
    margin-right: -24px;
    padding: 15px; */
    /* background-color: #aac253; */
}

:host ::ng-deep .mat-header-cell {
    padding: 0px 10px;
}

:host ::ng-deep .mat-cell {
    padding: 0px 10px;
}

:host ::ng-deep .mat-card-title {
    margin: 0px;
    font-size: 14pt;
}

:host ::ng-deep .mat-card-content {
    padding: 15px;
}

:host ::ng-deep .mat-card-actions {
    padding: 15px;
}

/* :host ::ng-deep .mat-form-field-flex {
    background-color: #eee;
} */

