.app {
  height: 100vh;
}

.component-viewer {
  height: 100%;
  background-color: #f5f5f5;
}

:host ::ng-deep .centered-component {
  /* max-width: 940px; */
  width: 100%;
  padding: 5px 10px 5px;
  /* background-color: #eee; */
}

@media all and (min-width: 1000px) {
  :host ::ng-deep .centered-component {
      /* max-width: 940px; */
      width: 1000px;
      padding: 20px 70px 50px;
  }
}


.mat-sidenav {
  width: 250px;
}

mat-sidenav {
  width: 40vw;
}

mat-card {
  margin: 12px;
}


.logo {
  height: 70%;
  padding: 10px
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  background-color: white;
}

.nav-bar {
  color: white;
}

.nav-buttons{
  padding-left: 20px;
}


@media only screen and (max-width: 1100px){
  .nav-buttons{
    visibility: hidden;
    width: 0px;
  }
}


:host ::ng-deep .card-information {
  /* font-weight: lighter; */
  font-size: 34pt;
  color: #AAC253;
}

/* :host ::ng-deep a {
 color: #337ab7;
 text-decoration: none;
} */

:host ::ng-deep .mat-card-header-text {
 margin: 0px;
}
 
:host ::ng-deep .mat-card-header {
 /* margin-top: 124px;
 margin-left: -24px;
 margin-right: -24px;
 padding: 15px; */
 /* background-color: #aac253; */
}

:host ::ng-deep .mat-header-cell {
 padding: 0px 10px;
}

:host ::ng-deep .mat-cell {
 padding: 0px 10px;
}

:host ::ng-deep .mat-card-title {
 margin: 0px;
 font-size: 12pt;
 font-weight: bolder;
}

:host ::ng-deep .mat-card-content {
 padding: 15px;
}

:host ::ng-deep .mat-card-actions {
 padding: 15px;
}