/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding: 0;
    margin: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
  
  
.lightupper{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 2px !important;
}
  
.light{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 2px !important;
}



/* body {
    margin: 0 0;
    padding: 0;
    font-family: Roboto, sans-serif;
} */

.main-container {
    background-color: #eee;
    min-height: 100%;
}

/* .mat-toolbar {
    background-color: #aac253;
    color: #fff;
} */

.iuno-card {
    /*margin: 5px;*/
    /* background-color: #ffa; */
}

/* .iuno-card-title {
    font-size: 240px;
    font-weight: lighter;
    text-align: left;
    background-color: #0f0;
}
 */