<app-spinner [counter]="spinnerCounter"></app-spinner>
<div fxLayout="row" fxLayoutAlign="left center">
    <div fxFlex="fill">
        <h1 class="headline">Neues Getränk anlegen</h1>
    </div>
    <div>
        <button (click)="actionSaveRecipe()" mat-raised-button color="primary" class="mat-elevation-z1">
            Speichern
        </button>
    </div>
</div>

<div *ngIf="recipesLeft > 0" fxLayout="column" fxLayoutGap="10px">
    <mat-card class="iuno-card">
        <mat-card-header>
            <mat-card-title>
                <span class="card-title">Rezeptur</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxFlex="100" fxLayoutAlign.gt-md="center start" fxLayoutAlign.lt-md="center"
                 fxLayoutGap="30px" style="background-color: #0f00;">
                <div fxLayoutAlign="center center" fxFlex="30" fxShow.lt-md="false" style="background-color: #ff00;">
                    <cocktail-component-list style="max-width: 300px; height: 450px;"></cocktail-component-list>
                </div>
                <div style="background-color: #0ff0;" fxFlex.gt-md="300px" fxFlex.lt-md="auto" fxLayoutAlign="center center">
                    <cocktail-beaker #beaker [cocktail]="cocktail" [editMode]="getBeakerEditMode()" style="width: 300px; height: 450px;"></cocktail-beaker>
                </div>
                <div style="background-color: #00f0;" fxLayoutAlign.gt-md="center start" fxFlex.gt-md="320px" fxFlex.lt-md="auto" fxLayoutAlign.lt-md="center start">
                    <cocktail-ingredients-listing [cocktail]="cocktail" fxFlexFill></cocktail-ingredients-listing>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="iuno-card">
        <!-- <mat-card fxFill class="iuno-card mat-elevation-z2"> -->
        <mat-card-header>
            <mat-card-title>
                <span class="card-title">Produktdetails</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row">
            <div fxFlex="100">
                <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" class="productdetails">
                        <!-- recipe title -->
                        <mat-form-field fxFlexFill>
                            <input matInput [(ngModel)]="recipeName" placeholder="Titel">
                        </mat-form-field>

                        <!-- recipe description -->
                        <mat-form-field fxFlexFill>
                            <textarea matInput [(ngModel)]="recipeDescription" placeholder="Beschreibung" style="width: 100%; height: 100px;"></textarea>
                        </mat-form-field>
                        <!-- recipe license fee -->
                        <mat-form-field fxFlexFill>
                            <mat-select placeholder="Lizenzgebühr" [(ngModel)]="recipeLicenseFee" name="licenseFee">
                                <mat-option *ngFor="let fee of licenseFees" [value]="fee">
                                    {{fee | number:'1.2-2'}} IUNO
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </div>
        </mat-card-content>
        <!-- </mat-card>
        <mat-card class="iuno-card"> -->
    </mat-card>
    <mat-card class="iuno-card">
        <mat-card-header>
            <mat-card-title>
                <span class="card-title">Bild</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxFlex="100" fxLayoutAlign="center">
                <app-recipe-image-picker #recipeImagePicker></app-recipe-image-picker>
            </div>

        </mat-card-content>
    </mat-card>
    <div fxLayoutAlign="center center">
        <button (click)="actionSaveRecipe()" mat-raised-button color="primary" class="mat-elevation-z1">
            Speichern
        </button>
    </div>

</div>

<div *ngIf="recipesLeft < 1">
    <mat-card class="iuno-card">
        <mat-card-header>
            Rezeptlimit erreicht!
        </mat-card-header>
        <mat-card-content>
            Sie haben bereits ihr Limit von {{recipeLimit}} Rezepten am Marktplatz erreicht.
            <br>
        </mat-card-content>
        <!-- <mat-card-actions>
                <div fxFlex="100" fxLayoutAlign="center center">
                    <button (click)="actionSaveRecipe()" mat-raised-button color="primary" class="mat-elevation-z1">
                        Speichern
                    </button>
                </div>
            </mat-card-actions> -->
    </mat-card>
</div>