<h1 class="headline">Dashboard</h1>
<div fxLayout="column" fxLayoutGap="10px">
  <!-- Chart revenue history -->
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="10px">
    <mat-card fxFlex="100" class="iuno-card mat-no-style">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Umsatz pro Getränk</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id='chart-revenue' style="padding: 10px;"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
    <!-- Revenue today, Top Recipe name -->
    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxLayoutGap="10px">
      <mat-card fxFlex="100" class="iuno-card">
        <mat-card-header>
          <mat-card-title>
            <span class="card-title">Umsatz heute (IUNOs)</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" style="height: 100%;">
            <span class="card-information" *ngIf="revenueToday == null">
              -
            </span>
            <span class="card-information" *ngIf="revenueToday != null">
              {{revenueToday | number:'1.2'}}
            </span>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="100" class="iuno-card">
        <mat-card-header>
          <mat-card-title>
            <span class="card-title">Meistverkauftes Getränk</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" style="height: 100%;">
              <span class="card-information" *ngIf="topRecipeName == null">
                  -
                </span>
                <span class="card-information" *ngIf="topRecipeName != null">
                    {{topRecipeName}}
                  </span>
                  </mat-card-content>
      </mat-card>
    </div>

    <!-- Chart top 5 -->
    <mat-card fxFlex="100" fxFlex.gt-xs="50" class="iuno-card">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Top 5 Getränke aller Hersteller</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id='chart-top-recipes' style="padding: 10px;"></div>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<!-- <div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-card fxFlex="100" fxFlex.gt-sm="50" class="iuno-card mat-no-style">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Umsatz pro Getränk</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id='chart-revenue' style="padding: 10px;"></div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100" fxFlex.gt-sm="50" class="iuno-card">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Top 5 Getränke aller Hersteller</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id='chart-top-recipes' style="padding: 10px;"></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-card fxFlex="100" fxFlex.gt-sm="50" class="iuno-card">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Umsatz heute (IUNOs)</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="card-title">
            <strong style="color: #AAC253">{{revenueToday}}</strong>
          </span>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100" fxFlex.gt-sm="50" class="iuno-card">
      <mat-card-header>
        <mat-card-title>
          <span class="card-title">Meistverkauftes Getränk</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="card-title">
            <strong style="color: #AAC253">{{topRecipeName}}</strong>
          </span>
      </mat-card-content>
    </mat-card>

  </div>
</div> -->
