<mat-card>
    <mat-card-title>Maschinenaktivität am Marktplatz</mat-card-title>
    <mat-form-field>
        <mat-select [(value)]="connectedChartOption" (change)="acquireConnectionProtocol()" >
            <mat-option value="day">Tag</mat-option>
            <mat-option value="week">Woche</mat-option>
            <mat-option value="month">Monat</mat-option>
            <mat-option value="year">Jahr</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="!connectedChartDisabled">
        <google-chart #timelinechart [data]="machinesConnectedData"></google-chart>
    </ng-container>

    <ng-container *ngIf="connectedChartDisabled">
        <p>No Data to be displayed</p>
    </ng-container>
</mat-card>


    <!--<google-chart [data]="machinesGeolocationData"></google-chart>-->
    <!--<google-chart [data]="componentConfigurationData"></google-chart>-->
