<br>
<center>
    <a href="/terms-of-service" target="_blank">Nutzungsbedingungen</a> | <a href="/privacy" target="_blank">Datenschutz</a> | <a href="/imprint" target="_blank">Impressum</a><br>
    <br>
    &copy; 2017 Company
</center>
