<div id="sidebar" class="sidenav">
	<div class="title">TDM Console</div>
   <a href="/console/myreports">Dashboard</a> 
  <!-- <a href="#">Statistiken</a> -->
  <a href="/console/configurator">Neues Getränk anlegen</a>
  <!-- <a href="#">Alle Getränke</a> -->
  <a href="/console/myrecipes">Getränke verwalten</a>
</div>
