<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/header %>
        <div class="tdmc-page">
        <%- content %>
        </div>
        <% include ./partials/footer %>
    </body>
</html>
