<div fxLayout="column" fxLayoutAlign="">
  <button (click)="openLandingPage()" mat-button class="nav-button index">Start
    <span flex></span>
  </button>
  <button (click)="openConsole()" mat-button class="nav-button index">Marktplatz
    <span flex></span>
  </button>
  <app-console-menu></app-console-menu>
  <button (click)="openStatistics()" mat-button class="nav-button index">Statistiken
    <span flex></span>
  </button>
  <app-statistics></app-statistics>
  <button (click)="openNews()" mat-button class="nav-button index">Neuigkeiten
    <span flex></span>
  </button>
</div>
