<h1 class="headline">Getränke verwalten</h1>
<div fxLayout="column" fxLayoutGap="10px">
    <mat-card fxFlex="100" class="iuno-card">
        <mat-card-header>
            <mat-card-title>
                <span class="card-title">Übersicht</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-message-box type="error" *ngIf="errorMaxRecipes == true">Derzeit ist die Anzahl an Rezepten pro Benutzer
                begrenzt. Bitte lösche ein bestehendes Rezept, falls du weitere auf dem Marktplatz veröffentlichen möchtest.
            </app-message-box>
            <div *ngIf="dataSource.data.length == 0" class="no-recipes-available">
                Keine Getränke vorhanden
            </div>
            <div *ngIf="dataSource.data.length > 0">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let i = index;"> {{i+1}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Getränkename</mat-header-cell>
                        <mat-cell *matCellDef="let recipe"> {{recipe.technologydataname}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
                        <mat-cell *matCellDef="let recipe"> {{recipe.technologydatadescription}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="revenue">
                        <mat-header-cell *matHeaderCellDef>Gesamtumsatz (IUNOs)</mat-header-cell>
                        <mat-cell *matCellDef="let recipe"> {{recipe.revenue | number:'1.2'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="licensefee">
                        <mat-header-cell *matHeaderCellDef>Lizenzgebühr (IUNOs)</mat-header-cell>
                        <mat-cell *matCellDef="let recipe"> {{(recipe.licensefee / 100000).toFixed(2)  | number:'1.2'}}</mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="li">
                      <mat-header-cell *matHeaderCellDef>Lizenzgebühr <small>(IUNOs)</small></mat-header-cell>
                      <mat-cell *matCellDef="let recipe"> {{(recipe.licensefee / 100000).toFixed(2)}} </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Aktion</mat-header-cell>
                        <mat-cell *matCellDef="let recipe">
                            <button (click)="deleteRecipe(recipe)" mat-raised-button color="primary">Löschen</button>
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="sales">
                      <mat-header-cell *matHeaderCellDef>Gesamtumsatz (IUNOs)</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="licensefee">
                      <mat-header-cell *matHeaderCellDef>Lizenzgebühr (IUNOs)</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="components">
                      <mat-header-cell *matHeaderCellDef>Komponenten</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef>Aktion</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                   -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- </div> -->
</div>
