
.tdmc-page {
    max-width: 970px;
    background-color: #fff;
    /*background-color: #eee;*/
    margin: 0 auto;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.config {
    padding-top: 30px;
    padding-bottom: 10px;
}

.processing-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, .7 ) 
                url('/img/spinner.gif') 
                50% 50% 
                no-repeat;
}

body.processing {
    overflow: hidden;   
}

body.processing .processing-overlay {
    display: block;
}

input {
    background-color: #eee;
    border: 1px solid #ddd;
}

textarea {
    background-color: #eee;
    border: 1px solid #ddd;
}

#previews {
    /*width: 100%;*/
    /*height: 150px;*/
    background-color: #eee;
    border: 1px solid #ddd;
    /*text-align: justify;*/
}

#previews > div {
    outline: 2px dashed #bbb;
    outline-offset: -10px;
    background-color: #ddd;
    width: 150px;
    height: 150px;
    /*line-height: 150px;*/
    margin: 16px;
    display: inline-block;
}

/*#previews:after {
	content: "";
	width: 100%;
	display: inline-block;
    }*/

/************************************
 * JQuery UI styles
 ************************************/
.ui-dialog-titlebar {
    background:#AAC253;
    color: #fff;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-overlay { 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #444;

  /* add some opacity here */
} 

/************************************
 * Bootstrap navigation bar (top)
 ************************************/
/* navbar */
.navbar-default {
    background-color: #AAC253;
    border-color: #AAC253;
    border-radius: 0px;
    color: #FFFFFF;
}
/* Title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

/************************************
 * Sidebar (left)
 * adapted from https://www.w3schools.com/howto/howto_js_sidenav.asp
 ************************************/
/* The side navigation menu */
#main {
    /*background-color: #00f;*/
    z-index: 1; /* Stay on top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
    margin-left: 250px;
}

.sidenav {
    white-space: nowrap;
    height: 100%; /* 100% Full-height */
    width: 250px;  
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid;
    border-color: #aaa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
}

.sidenav .title {
    height: 50px;
    font-size: 24px;
    color: #888;
    border-bottom: 1px solid;
    border-color: #aaa;
    /*background-color: #f00;*/
    padding: 8px 8px 8px 32px;
    width: 100%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #AAC253;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {
    transition: margin-left .5s;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/