@import '~@angular/material/theming';
@import '../../iuno-theme';

.footer {
  background-color: #f5f5f5;
  position: relative;
  // background-color: mat-color($iuno-primary);
  padding: 30px;
  z-index: 0;
  color: black;

  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

a {
  color: black;
  text-decoration: none;
}

.inner-footer {
  text-align: center;
}