<h2 mat-dialog-title>Auszahlung von Guthaben veranlassen</h2>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div fxFlexFill>
            Es sind {{wallet.confirmed/100000}} IUNO in Ihrem Wallet zur Auszahlung bereit.<br>
            Dies entspricht {{wallet.confirmed / unitFactor}} {{unitName}} im Bitcoin Testnet.
        </div>

        <div *ngIf="wallet.unconfirmed!= wallet.confirmed" fxFlexFill>
            Aktuell sind davon noch {{(wallet.unconfirmed-wallet.confirmed) / unitFactor | number: '1.0-8'}} {{unitName}} unbestätigt.
            Sobald diese Transaktionen in der Blockchain bestätigt sind, kann man auch dieses Guthaben auszahlen.
        </div>
        <div fxFlexFill>

            <mat-slide-toggle [(ngModel)]="emptyWallet" (change)="emptyChanged($event)">Wallet leeren</mat-slide-toggle>
        </div>
        <div fxFlexFill>
            <mat-form-field class="address-input" [color]="addressCorrect?'primary':'warn'"
                            (input)="addressChanged($event)">

                <input matInput placeholder="Auszahladresse" type="text" [(ngModel)]="address">
            </mat-form-field>
        </div>
        <div fxFlexFill fxLayoutAlign="row" class="amount-input" >
            <div fxFlex="*">
                <mat-form-field [color]="payoutCorrect?'primary':'warn'" >
                    <input matInput placeholder="Auszahlbetrag" type="number" min="{{6000 / unitFactor}}"
                           max="{{(wallet.confirmed-transactionFee)/unitFactor}}"
                           [(ngModel)]="payout"
                           (ngModelChange)="payoutChanged($event)"
                           [disabled]="emptyWallet || ( wallet.confirmed == 0)">
                    <mat-hint align="start">min. {{6000/unitFactor | number: '1.0-8'}}, max.
                        {{(wallet.confirmed-transactionFee)/unitFactor | number: '1.0-8'}}
                    </mat-hint>
                </mat-form-field>

            </div>

            <div fxFlex="200px">
                <mat-form-field>
                    <mat-select [(ngModel)]="unit" (change)="unitChanged($event)">
                        <mat-option value="btc">BTC</mat-option>
                        <mat-option selected value="mbtc">mBTC/IUNO</mat-option>
                        <mat-option value="satoshi">Satoshis</mat-option>

                    </mat-select>
                    <mat-hint align="start" *ngIf="unit=='mbtc'">{{payout * 100000| number: '1.0-0'}}&nbsp;Satoshi / {{payout / 1000 | number: '1.0-8'}}&nbsp;BTC
                    </mat-hint>
                    <mat-hint align="start" *ngIf="unit=='satoshi'">{{payout / 100000 | number: '1.0-5'}}&nbsp;mBTC / {{payout / 100000000 | number: '1.0-8'}}&nbsp;BTC
                        BTC
                    </mat-hint>
                    <mat-hint align="start" *ngIf="unit=='btc'">{{payout * 100000000| number: '1.0-0'}}&nbsp;Satoshi / {{payout * 1000}}&nbsp;mBTC
                        mBTC
                    </mat-hint>
                </mat-form-field>

            </div>
        </div>
        <div fxFlexFill *ngIf="wallet.confirmed > 0">
            Die Transaktionsgebühr beträgt {{transactionFee / unitFactor}}&nbsp;{{unitName}}<br>
            und das Restguthaben im Wallet {{remaining / unitFactor}}&nbsp;{{unitName}}
        </div>

        <div class="error-text" *ngIf="errorText">
            {{errorText}}
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="basic" mat-dialog-close>abbrechen</button>
    <button mat-raised-button color="primary" (click)="accept()" [disabled]="!payoutCorrect || !addressCorrect">Auszahlen!</button>
</mat-dialog-actions>