@import '~@angular/material/theming';
@import '../../../iuno-theme';
mat-dialog-content{
    max-width: 600px;
}
.address-input{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

.amount-input{
    width: 100%;
}

.error-text{
    color: mat-color($iuno-warn)
}

mat-icon{
    cursor: pointer;
}