<html>
<head>
    <style>
        body {
            background-color: #525252;
        }

        .centered-form {
            margin-top: 60px;
        }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script>
        function reCaptchaCallback() {
            document.getElementById('request_coupon').disabled = false;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">IUNO Coupons</h3>
                    <small>Hier entsteht in kürze eine Website zum Download von IUNO Coupons.</small>
                </div>
                <div class="panel-body">
                    <p>
                        <a class="btn btn-primary" href="/coupon/<%= id %>/pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <small> Download as PDF</small></a>
                        <a class="btn btn-primary" href="/coupon/<%= id %>/ios"><i class="fa fa-apple" aria-hidden="true"></i>
                            <small> Download for iOS Wallet</small></a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>
