<html>
<head>
    <style>
        body {
            background-color: #525252;
        }

        .centered-form {
            margin-top: 60px;
        }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

        .g-recaptcha {
            display: table;
            margin: 0 auto;
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script>
        function reCaptchaCallback() {
            document.getElementById('request_coupon').disabled = false;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">IUNO Coupons</h3>
                </div>
                <% if (locals.isEmpty ) { %>
                <div id="failure_alert" class="alert alert-warning">Leider sind keine Coupons mehr verfügbar. Bitte versuche es zu einem späteren Zeitpunkt erneut.</div>
                <% } else{ %>
                <div class="panel-body">
                    <form action="/coupon" method="post" role="form">
                        <div class="g-recaptcha" data-sitekey="6LcFUDMUAAAAANHdh_RtQvy67IGG1hnKkbeqwHgj"
                             data-callback="reCaptchaCallback"></div>
                        <input type="submit" id="request_coupon" value="Coupon Anfordern" class="btn btn-info btn-block"
                               disabled="true">
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<footer>
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>
