<br>
<center>
    <a href="/landingpage/privacy" target="_blank">Datenschutz</a> | <a href="/landingpage/imprint" target="_blank">Impressum</a><br>
    <br>
    &copy; 2018 Trumpf Werkzeugmaschinen GmbH & Co KG
    <br>
    <a href="https://www.bmbf.de/" target="_blank">
        <img border="0" alt="BMBF" src="/assets/img/gefoerdert_vom_BMBF.svg" width="200">
    </a>
</center>
