<h1>Informationen zur Währung IUNO</h1>
<mat-dialog-content>
    <p>Die Währung in unserem Demonstrator nennt sich IUNO. Hinter den IUNOs steckt technisch das Bitcoin Testnet
        Diese Variante von Bitcoin ist zum Testen und zum Entwickeln mit der Bitcoin-Technik gedacht. Einen realen Wert,
        den man beispielsweise in Euros ausdrücken könnte, gibt es nicht. Jedoch kann man damit Cocktails an unseren
        Saftmischmaschinen bezahlen.</p>
    <p>
        Für dich als Technologiedatenhersteller speichern wir deine IUNOs, die du mit Lizenzverkäufen erhalten hast.
        Wenn du willst, kannst du dir dein Guthaben gerne an deine Bitcoin-Wallet schicken. Dazu benötigst du eine
        Bitcoin-Wallet, die mit dem Bitcoin-Testnet zusammenarbeitet.</p>
    <p>
        Folgende Apps können wir dazu empfehlen:
    </p>
    <table>
        <tr>
            <td>Windows, Linux, Mac:</td>
            <td><a target="_blank" href="https://bitcoin.org/de/download">Bitcoin Core</a></td>
        </tr>
        <tr>
            <td>iOS:</td>
            <td><a target="_blank" href="https://itunes.apple.com/de/app/copay-bitcoin-wallet/id951330296?mt=8">Copay</a> (Nur im Testnet
                empfehlenswert)
            </td>
        </tr>
        <tr>
            <td>Android:</td>
            <td><a target="_blank" href="https://play.google.com/store/apps/details?id=de.schildbach.wallet_test&hl=de">Bitcoin Wallet
                for Testnet</a></td>
        </tr>
    </table>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>OK danke!</button>
</mat-dialog-actions>