<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/sidebar %>
        <div id="main">
            <header>
                <% include ./partials/header %>
            </header>

            PUT YOUR STUFF HERE

            <footer>
                <% include ./partials/footer %>
            </footer>
        </div>
    </body>
</html>
