<html>
    <head>
        <% include ./partials/head %>
        <link rel="stylesheet" href="juice-configurator/css/program-configurator.css">
        <link rel="stylesheet" href="css/configurator.css">
        <script src="js/configurator.js"></script>
        <script src="juice-configurator/js/recipe.js"></script>
        <script src="juice-configurator/js/program-configurator.js"></script>
        <script>
            // $.getJSON('/users/me/recipes/limit', function(data) {
            //     if (!(data && data.limit > 0)) {
            //         window.location.href = "console.html?page=myrecipes&limit_reached=true";
            //     }
            // }).fail(function() {
            //     window.location.href = "console.html?page=myrecipes";
            // })
        </script>
    </head>
    <body>
        <% include ./partials/sidebar %>
        <div id="main">
        <header>
			<%- include("./partials/header", {pageName: 'Neues Getränk anlegen'}); %>
		</header>
<div id="configurator">
<!-- Templates start -->
	<div id="dialog-delete-ingredient" title="Zutat entfernen" style="display: none">
		<p class="validateTips">Soll die Zutat wirklich entfernt werden?</p>
	</div>

	<div id="dialog-phase" title="Phase bearbeiten" style="display: none">
		<br>
		<!-- <p class="validateTips">Wieviel Milliliter sollen abgetrennt werden?</p> -->
		<fieldset>
			<label for="dialogPhaseMl">Milliliter: </label>
			<input type="text" name="dialogPhaseMl" id="dialogPhaseMl" value="50" class="text ui-widget-content ui-corner-all">
		</fieldset>
		<br>
		<div class="alert alert-danger hidden">
  			<strong>Fehler!</strong> Die Mindestmenge beträgt 10 ml, die maximale Menge beträgt 120 ml.
	    </div>
	</div>

	<div id="dialog-add-ingredient" title="Zutat hinzufügen" style="display: none">
		<input type="hidden" name="ingredientId" value="">
		<div id="dialog-add-ingredient-table">
			<input type="text" id="ingredientSearchBox" onkeyup="ingredientSearch()" placeholder="Suchbegriff eingeben...">
			<div class="table">
				<table id="ingredientTable">
					<tr class="header">
						<th style="width:60%;">Name</th>
						<th style="width:40%;">Beschreibung</th>
					</tr>
					<tr class="ingredient">
						<td class="name"></td>
						<td class="description"></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="dialog-add-ingredient-amount">
			<!--<form>-->
				<!--<fieldset>-->
				<span class="ingredient">Zutat:</span><br>
				<span>Wieviel Milliliter sollen hinzugefügt werden?</span><br>
				<label for="addml">Milliliter: </label>
				<input type="text" name="addml" id="addml" value="50" class="text ui-widget-content ui-corner-all">
				<!--</fieldset>-->
			<!--</form>-->
		</div>
		<!--<p class="validateTips">Welche Zutat möchten Sie hinzufügen?</p>
		<form>
			<fieldset>
			<label for="addml">Milliliter: </label>
			<input type="text" name="addml" id="addml" value="50" class="text ui-widget-content ui-corner-all">
			</fieldset>
		</form>-->
	</div>

	<div id="program-template" style="display: none">
		<div id="program-header" class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2 program-row program-row-label"><span></span></div>
			<div class="col-sm-8 program-row content"></div>
			<div class="col-sm-1"></div>
		</div>
		<div id="program-sequence" class="row sequence">
			<div class="col-sm-1"></div>
			<div class="col-sm-2 program-row program-row-label">
				<div class="valign">
					<a href="javascript:void(0);" class="ingredient-delete"><img src="/img/delete-icon.png" width="16px" height="16px"></a>
					<div class="ingredient-label"></div>
				</div>
			</div>
			<div class="col-sm-7 program-row content">
				<div id="program-phase" class="phase">
					<div class="phase-content">
						<div class="phase-content-throughput"></div>
						<div class="phase-content-label valign"></div>
					</div>
					<div class="phase-throughput-handle">
						<div class="phase-throughput-caret valign"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-1 program-row program-row-total"><div class="valign total-label change-amount"></div></div> 
			<div class="col-sm-1"></div>
		</div>

		<div id="program-pause" class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-2 program-pause-label program-row">
				<div class="valign">
					<div class="ingredient-label"></div>
				</div>
			</div>
			<div class="col-xs-7 program-row content">
				<div id="program-pause-phase" class="pause-phase">
					<div class="pause-phase-content">
						<div class="phase-content-label valign"></div>
				</div>				
			</div>
			</div>
			<div class="col-xs-1 program-row program-row-total"><div class="valign"><div class="label">-</div></div></div>
			<div class="col-xs-1"></div>
		</div>
		<div id="program-footer" class="row footer">
			<div class="col-xs-1"></div>
			<div class="col-xs-2 program-row-footer program-footer-label">
				<div class="valign">
				<!-- <div class="ingredient-label valign"> -->
					<a href="javascript:void(0);" class="add-ingredient">Zutat hinzufügen</a>
				 </div> 
				</div>
			<div class="col-xs-7 program-row-footer content">
				<div class="error-minimum-total error valign hidden">Mindestmenge (100 ml) unterschritten.</div>
				<div class="error-maximum-total error valign hidden">Höchstmenge (120 ml) überschritten.</div>
				<div class="error-maximum-pause error valign hidden">Zulässige Summe der Pausenzeiten (5 s) überschritten.</div>
			</div>
			<div class="col-xs-1 program-row-footer program-row-total"><div class="total-label valign">-</div></div>
			<div class="col-xs-1"></div>
		</div>
		<div id="program-empty-placeholder" class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 user-input" style="background-color: #eee; border: 1px solid #ddd; height: 100px; text-align: center;">
				<div class="valign">
					<a href="javascript:void(0);" class="add-ingredient">Zutat hinzufügen</a>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
    <!-- Templates end -->
    
    <div class="tdmc-page">
		<div class="container-fluid">
			<div class="row">
				 <h3>Produktdetails</h3> 
			</div>
			<div class="row config">
				<div class="col-sm-3"><p class="label">Titel</p></div>
				<div class="col-sm-8"><input id="recipe-title" type="text" style="width: 100%;" class="user-input"></div>
				<div class="col-sm-1"></div>
			</div>
			<!-- <div class="row config">
				<div class="col-sm-3"><p class="label">Kurze Beschreibung</p></div>
				<div class="col-sm-8"><input id="recipe-short-description" type="text" style="width: 100%;" class="user-input"></div>
			</div> -->
			<div class="row config">
				<div class="col-sm-3"><p class="label">Beschreibung</p></div>
				<div class="col-sm-8"><textarea id="recipe-description" style="width: 100%; height: 100px;" class="user-input"></textarea></div>
				<div class="col-sm-1"></div>
			</div>
			<div class="row config">
				<div class="col-sm-3">
					<p class="label">Rezeptur</p>
				</div>
			</div>
			<div id="program-1" class="row">
			</div>
			<div class="row config">
				<div class="col-sm-3"><p class="label">Lizenzgebühr</p></div>
				<div class="col-sm-3">
					<select name="license-fee" id="license-fee" class="user-input">
					</select>
				</div>
				<div class="col-sm-3">
				<button id="button-save" class="ui-button ui-widget ui-corner-all" style="float: right;">Speichern</button>
				</div>
			</div>
		</div>
	</div>
</div>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <script>
        var recipe = new Recipe();
        var programConfigurator = new ProgramConfigurator(recipe.program, "program-1");
        programConfigurator.render();
        $('#recipe-title').on("input", function() {
            recipe.title = this.value;
        });

        $('#recipe-short-description').on("input", function() {
            recipe.shortDescription = this.value;
        });

        $('#recipe-description').on("input", function() {
            recipe.description = this.value;
        });

        $('#button-save').on("click", function() {
            // validate recipe
            var valid = true;
            if (valid && recipe.program.getTotalAmount() < minTotalAmount) {
                alert("Die Mindestmenge von "+minTotalAmount+" ml wurde unterschritten.");
                valid = false;
            }
            if (valid && recipe.program.getTotalAmount() > maxTotalAmount) {
                alert("Die Höchstmenge von "+maxTotalAmount+" ml wurde überschritten.");
                valid = false;
            }
            if (valid && convertMilliliterToMilliseconds(recipe.program.pauseSequence.getTotalAmount()) > maxTotalPause) {
                alert("Die zulässige Gesamtdauer der Pausen von "+maxTotalPause+" ms wurde überschritten.");
                valid = false;
            }
            if (valid && recipe.title.trim().length < 1) {
                alert("Bitte geben Sie einen Titel mit mindestens einem Zeichen ein.");
                valid = false;
            }
            if (valid && recipe.description.trim().length < 1) {
                alert("Bitte geben Sie eine Beschreibung mit mindestens einem Zeichen ein.");
                valid = false;
            }
            if (valid && recipe.licenseFee == -1) {
                alert("Bitte wählen Sie eine Lizenzgebühr aus.");
                valid = false;
            }
            if (valid && recipe.program.sequences.length == 0) {
                alert("Bitte fügen Sie mindestens eine Zutat hinzu.");
                valid = false;
            }
            if (valid) {
                var json = recipe.toJSON();
                var jsonString = JSON.stringify(json);
                console.log("JSON = "+jsonString);
                // var jsonProgram = json['program'];
                // var convertedProgram = convert(jsonProgram);

                $.ajax({
                    url: '/users/me/recipes',
                    type: "POST",
                    data: jsonString,
                    contentType: "application/json",
                    success: function() {
                        console.log(" ############### FERTIG ###############");
                        setRecipeChanged(false);
                        window.location.href = "/console/myrecipes";
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(" ############### FEHLER ###############");;
                        setRecipeChanged(false);
                        window.alert('Beim erstellen Ihres Rezepts ist ein Fehler aufgetreten.');
                        window.location.href = "/console/myrecipes";
                    }
                });

                // var recovery = JSON.parse(jsonString);
                // var rec = Recipe.fromJSON(recovery);
                // var converter = new ProgramConverter();
                // var machineCode = converter.convert(rec.program);
                // var machineCodeString = JSON.stringify(machineCode);
                // console.log("Machine-Code:\n\n"+machineCodeString);
                // convertJSONRecipe(jsonString);
                // convertProgramToMachinecode(recipe.program);
            }
        });

        $( '#license-fee' ).selectmenu()
            .on("selectmenuchange", function (event, ui ) {
                var value = parseFloat(ui.item.value);
                recipe.licenseFee = value;
            });

            var licenseFeeTiers = [0.25, 0.5, 0.75, 1.00];
            licenseFeeTiers.forEach(function(tier) {
            var fee = tier.toFixed(2) + ' IUNO';
            $( "#license-fee" ).append($('<option></option>').val(tier).html(fee));
        });

        $("#license-fee").val(this.first);
    </script>    
    </body>
</html>
