<div *ngIf="user != null" fxLayout="row">
    <button mat-button class="lightupper" [matMenuTriggerFor]="menu">
        {{getUserDisplayName()}}
    </button>
    <!-- <img class="userImg" src="./assets/images/1.jpg"/> -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
  <!-- <div *ngIf="!respCalc.getAccountInfoShortened()" class="userName"> -->
    <!-- <span class=" light">{{getUserDisplayName()}}</span> -->
  <!-- </div> -->
  <!-- <img class="userImg" src="./assets/images/1.jpg"/> -->
</div>

<div *ngIf="user == null">
    <button mat-button class="lightupper" (click)="login()">
        Anmelden / Registrieren
    </button>
</div>
