<header>
    <div class="header-background"></div>
    <section class="intro" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch" fxLayoutAlign="center center">
        <div class="intro-logo" fxFlex="40">
            <img src="./assets/images/tdm_text.svg">
        </div>
        <div class="intro-text" fxFlex="40">
            <h1>
                Der Technologiedatenmarktplatz<br>
                für die<br>
                Lizenz zum Mixen
            </h1>
        </div>
    </section>
</header>

<article class="start-article" fxLayout="column" fxLayoutAlign="center center">

    <section class="start-section news">
        <!--<h2>Neuigkeiten</h2>-->
        <div fxLayoutAlign="space-around center">
            <mat-card class="news-card" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch"
                      fxLayoutAlign="space-evenly center">
                <!--<mat-card class="news-card" fxLayoutAlign.lt-sm="column" fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center" >-->
                <img src="./assets/images/messe.svg" fxFlex="50">

                <div class="news-text" fxFlex="50">
                    Besuchen Sie uns auf der Hannover Messe 2018!
                </div>
            </mat-card>
        </div>
    </section>

    <section class="start-section iuno-general" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">

        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/iuno.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline">Was macht IUNO?</div>
            <p>
				Im Forschungsvorhaben IUNO, dem Nationalen Referenzprojekt zur IT-Sicherheit in Industrie 4.0, werden Bedrohungen und Risiken für die intelligente Fabrik identifiziert, Schutzmaßnahmen entwickelt und exemplarisch in vier Anwendungsfällen umgesetzt.
				</p>
        </div>
    </section>
    <hr>
    <section class="start-section marketplace" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline">Technologiedatenmarktplatz</div>
            <p>
                Der Technologiedatenmarktplatz ermöglicht Daten bedarfsgerecht zu handeln, die für einen Herstellungsprozeß benötigt werden. Für den bedarfsgerechten Handel ist es notwendig, daß die gehandelten Daten auch nur wie gekauft verwendet werden, sprich pro Stück oder pro Zeiteinheit. Der erarbeitete Demonstrator gewährt diese Sicherheit über die lizenzgerechte Nutzung der gehandelten Daten.
    			</p>
        </div>

        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/lnr-marketplace.svg">
        </div>

    </section>
    <hr>
    <section class="start-section juice" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch"
             fxLayoutAlign="space-evenly center">
        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/cocktail.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline">Warum Cocktailrezepte?</div>
            <p>
                IUNO hat als nationales Referenzprojekt zur IT-Sicherheit in der Industrie 4.0 Leuchtturmcharakter. Es muß in der Öffentlichkeit weithin sichtbar sein, um mit den Inhalten und Ergebnissen eine möglichst großes Publikum zu erreichen. Dazu benötigt es eine Demonstratormaschine, die auf Messen und Vorträgen leicht gezeigt werden kann und das Thema anschaulich transportiert. Aus diesem Grund der Technologiedatenmarktplatz an einer Cocktailmischmaschine veranschaulicht. Diese Maschine erweckt genügend Aufmerksamkeit und ermöglicht damit den Transfer des sehr trockenen Themas IT-Sicherheit.
            </p>
        </div>


    </section>
    <hr>
    <section class="start-section statistics" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">

        <div class="start-section-text" fxFlex="50">
            <div class="text-headline">Der Marktplatz ist live!</div>
            <p>
                Der Marktplatz wird mittlerweile von mehreren Maschinen bei den verschiedenen Projektpartnern genutzt. Dies zeigen unsere live <a routerLink="/statistics">Dashboards</a>.
            </p>
        </div>
        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/statistics.svg">
        </div>
    </section>
    <hr>
    <section class="start-section machineoperator" ffxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">


        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/Saftmischer.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline">Lust am Ausprobieren?</div>
            <p>
                Das ganze Projekt ist OpenSource und steht auf Github zur Verfügung.
            </p>
            <p class="logo-env">
                <a href="https://github.com/IUNO-TDM"><img class="github-logo" src="assets/images/Octocat.png"></a>
            </p>
            <p>
                Und wenn Sie selbst eine Maschine bauen möchten, dann wenden Sie sich gerne an uns.
            </p>
        </div>
    </section>

</article>
